<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @neighbourhood.title %>
</p>

<%= link_to 'Edit', edit_neighbourhood_path(@neighbourhood) %> |
<%= link_to 'Back', neighbourhoods_path %>
