
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>

<script type="text/javascript">
	var marker = [];
	var infowindow = [];
	var map = null;
   function initMap() {
     var latLng = new google.maps.LatLng(37.7833, -122.4167);
     map = new google.maps.Map(document.getElementById('map_canvas'), {
       zoom: <%= @zoom_level %>,
       center: latLng,
       mapTypeId: google.maps.MapTypeId.ROADMAP
     });

	
	<% @result_locations.each_with_index do |location,index| %>
      marker[<%= index %>] = new google.maps.Marker({
       position: new google.maps.LatLng(<%= location[1]['lat'] %>, <%= location[1]['long'] %>),
       map: map,
       title: "<%= location[1]['name'] %>",
     });

		var contentString = '<div id="content">'+
		      '<div id="siteNotice">'+
		      '</div>'+
		      '<h6 id="firstHeading" class="firstHeading"><%= location[1]["name"] %></h6>'+
		      '<div id="bodyContent">';
		
		<% if !location[1]['movies'].nil? %>
		<% location[1]['movies'].each do |text| %>
			contentString += '<p><%=text%></p>'
		<% end %>
		<% end %>
		      
		contentString+=  '</div>'+
		      '</div>';

		  infowindow[<%= index %>] = new google.maps.InfoWindow({
		    content: contentString,
			maxWidth: 300
		  });
		marker[<%= index %>].addListener('click', function() {
		    infowindow[<%= index %>].open(map, marker[<%= index %>]);
		  });
		
	<% end %>

     
   }
 </script>
<style>
.row.col-md-12.filters {
    padding-bottom: 20px;
}

span.filter_title {
    display: inline-block;
    margin-bottom: 5px;
}
</style>
<div class="row col-md-10 col-md-offset-1">
	<h1>Movies in San Francisco</h1>
	<div class"row col-md-12">
	<form method="POST" action="trial">
		<div class="col-md-3">
		<input class="form-control" type="text" name="search" placeholder="SOLR search">
		</div>
		
		<div class="col-md-3">
		<button type="submit" class="btn btn-primary btn-block" style="margin-top:10px;">Search</button>
		</div>
	</form>
	</div>

	<div class="row col-md-12 filters">
		<h3>Filter By</h3>
	<form method="POST">
		<div class="col-md-3">
		<span class="filter_title">Release</span><input class="form-control" type="text" name="release_year" id="release_year">
		</div>
		<div class="col-md-3">
		<span class="filter_title">Director</span><input class="form-control" type="text" name="director" id="director_list">
		</div>
		<div class="col-md-3">
		<span class="filter_title">Movie</span><input class="form-control" type="text" name="title" id="movie_list">
		</div>
		<div class="col-md-3">
		<span class="filter_title">Actor</span><input class="form-control" type="text" name="actors" id="actor_list">
		</div>
		<div class="col-md-3 col-md-offset-9">
		<button type="submit" class="btn btn-primary btn-block" style="margin-top:10px;">Submit</button>
		</div>
	</form>
	</div>
	<% if !@filter_text.blank? %>
	<div class="row col-md-12">
		<h5> <%= @filter_text%> </h5>
		</div>
	<% end %>
	<div class="row col-md-12">
 		<div id="map_canvas" style="height: 400px; width: 100%;"></div>
	</div>
 	
</div>
<script>
initMap();

</script>
