<a href="/">Home</a>
<p id="notice"><%= notice %></p>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3&amp;sensor=false"></script>

<script type="text/javascript">
	var marker = [];
	var infowindow = [];
	var map = null;
   function initMap() {
     var latLng = new google.maps.LatLng(37.7833, -122.4167);
     map = new google.maps.Map(document.getElementById('map_canvas'), {
       zoom: <%= @zoom_level %>,
       center: latLng,
       mapTypeId: google.maps.MapTypeId.ROADMAP
     });

	
	<% @result_locations.each_with_index do |location,index| %>
      marker[<%= index %>] = new google.maps.Marker({
       position: new google.maps.LatLng(<%= location[1]['lat'] %>, <%= location[1]['long'] %>),
       map: map,
       title: "<%= location[1]['name'] %>",
     });

		var contentString = '<div id="content">'+
		      '<div id="siteNotice">'+
		      '</div>'+
		      '<h6 id="firstHeading" class="firstHeading"><%= location[1]["name"] %></h6>'+
		      '<div id="bodyContent">';
		
		<% if !location[1]['movies'].nil? %>
		<% location[1]['movies'].each do |text| %>
			contentString += '<p><%=text%></p>'
		<% end %>
		<% end %>
		      
		contentString+=  '</div>'+
		      '</div>';

		  infowindow[<%= index %>] = new google.maps.InfoWindow({
		    content: contentString,
			maxWidth: 300
		  });
		marker[<%= index %>].addListener('click', function() {
		    infowindow[<%= index %>].open(map, marker[<%= index %>]);
		  });
		
	<% end %>

     
   }
 </script>
<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Release year:</strong>
  <%= @movie.release_year %>
</p>

<p>
  <strong>Writers:</strong>
  <%= @movie.writers %>
</p>

<p>
  <strong>Director:</strong>
  <%= @movie.director %>
</p>

<p>
  <strong>Production Company:</strong>
  <%= @movie.production_company %>
</p>
<p>
  <strong>Actors:</strong>
  <%= @movie.actors.pluck(:name).to_sentence %>
</p>
<div class="row col-md-12">
 		<div id="map_canvas" style="height: 400px; width: 100%;"></div>
	</div>
<script type="text/javascript">
	initMap();
</script>

