<a href="/">Home</a>
<div class="row col-md-12">
<h4><%= @result_message %></h4>
</div>

<div class="row col-md-12">
<% if !@movies.nil? %>
<ul>
<% @movies.each do |m| %>
<li>
<a href="/movies/<%= m[0]['id'] %>"><%= m[0]['title'] %></a>
<% end %>
</ul>
<% end %>
</diiv>