<%= form_for(@production_company) do |f| %>
  <% if @production_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@production_company.errors.count, "error") %> prohibited this production_company from being saved:</h2>

      <ul>
      <% @production_company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
