<p id="notice"><%= notice %></p>

<h1>Listing Production Companies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @production_companies.each do |production_company| %>
      <tr>
        <td><%= production_company.name %></td>
        <td><%= link_to 'Show', production_company %></td>
        <td><%= link_to 'Edit', edit_production_company_path(production_company) %></td>
        <td><%= link_to 'Destroy', production_company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Production company', new_production_company_path %>
