<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @production_company.name %>
</p>

<%= link_to 'Edit', edit_production_company_path(@production_company) %> |
<%= link_to 'Back', production_companies_path %>
