<%= form_for(@screen_location) do |f| %>
  <% if @screen_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@screen_location.errors.count, "error") %> prohibited this screen_location from being saved:</h2>

      <ul>
      <% @screen_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :city_id %><br>
    <%= f.number_field :city_id %>
  </div>
  <div class="field">
    <%= f.label :neighbourhood %><br>
    <%= f.number_field :neighbourhood %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
