<p id="notice"><%= notice %></p>

<h1>Listing Screen Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>City</th>
      <th>Neighbourhood</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @screen_locations.each do |screen_location| %>
      <tr>
        <td><%= screen_location.name %></td>
        <td><%= screen_location.address %></td>
        <td><%= screen_location.latitude %></td>
        <td><%= screen_location.longitude %></td>
        <td><%= screen_location.city_id %></td>
        <td><%= screen_location.neighbourhood %></td>
        <td><%= link_to 'Show', screen_location %></td>
        <td><%= link_to 'Edit', edit_screen_location_path(screen_location) %></td>
        <td><%= link_to 'Destroy', screen_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Screen location', new_screen_location_path %>
