<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @screen_location.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @screen_location.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @screen_location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @screen_location.longitude %>
</p>

<p>
  <strong>City:</strong>
  <%= @screen_location.city_id %>
</p>

<p>
  <strong>Neighbourhood:</strong>
  <%= @screen_location.neighbourhood %>
</p>

<%= link_to 'Edit', edit_screen_location_path(@screen_location) %> |
<%= link_to 'Back', screen_locations_path %>
