<%= form_for(@movie_location) do |f| %>
  <% if @movie_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_location.errors.count, "error") %> prohibited this movie_location from being saved:</h2>

      <ul>
      <% @movie_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_id %><br>
    <%= f.number_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
