<p id="notice"><%= notice %></p>

<h1>Listing Movie Locations</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_locations.each do |movie_location| %>
      <tr>
        <td><%= movie_location.movie_id %></td>
        <td><%= movie_location.location_id %></td>
        <td><%= link_to 'Show', movie_location %></td>
        <td><%= link_to 'Edit', edit_movie_location_path(movie_location) %></td>
        <td><%= link_to 'Destroy', movie_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie location', new_movie_location_path %>
