<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @movie_location.movie_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @movie_location.location_id %>
</p>

<%= link_to 'Edit', edit_movie_location_path(@movie_location) %> |
<%= link_to 'Back', movie_locations_path %>
