<p id="notice"><%= notice %></p>

<h1>Listing Movie Actors</h1>

<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Actor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_actors.each do |movie_actor| %>
      <tr>
        <td><%= movie_actor.movie_id %></td>
        <td><%= movie_actor.actor_id %></td>
        <td><%= link_to 'Show', movie_actor %></td>
        <td><%= link_to 'Edit', edit_movie_actor_path(movie_actor) %></td>
        <td><%= link_to 'Destroy', movie_actor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie actor', new_movie_actor_path %>
